.blokmain{width: 100%;height: auto;}
.bloktitle{
	width: 100%;height: 122px;
	padding: 130px 0 100px;
	text-align: center;
}
.bloktitle>h1{
	height: 80px;line-height: 80px;
	padding-bottom: 10px;
	font-size: 60px;
}
.bloktitle>p{padding-top: 10px;}
.bloklist{height: 96px;width: 100%;}
.bloklist>ul{height: 46px;width: 100%;display: flex;justify-content: center;}
.bloklist>ul>li{padding: 14px 20px;cursor:pointer;color: #999;}
.bloklist>ul>li:hover{color: #000000;}

/* 所有 */
.blokall{height: 1625px;display: none;}
/* 最新资讯 */
.bloknew{height: 675px;display: none;}
/* 产品新闻 */
.bloksome{height: 675px;display: none;}
/* 公司新闻 */
.blokcompany{height: 675px;display: none;}
/* 其他 */
.blokmore{height: 675px;display: none;}

.bloks{width: 1200px;margin: 0 auto;display: block;}
.bloks>div{width: 370px;height: 445px;padding: 15px;margin-bottom: 15px;float: left;}
.bloks>div>div{width: 370px;height: 320px;overflow: hidden;}
.bloks>div:hover>p{color: #000000;}
.bloks>div>div>img{width: 400px;height: 350px;left: -15px;top: -15px;transition: all .3s ease-out}
.bloks>div>div:hover>img{
	width: 370px;height: 320px; left: 0;top: 0;
}
.bloks>div>h2{
	font-size: 18px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding: 20px 0 10px;
}
.bloks>div>p{
	font-size: 12px;line-height: 26px;
	color: #999;
	text-align: center;
}