.shopcarmain{
	width: 100%;
}
.shopcar-table{
	width: 1190px;height: max-content;
	margin: 90px auto;
	border-collapse:collapse;
}
.shopcar-table tr>th{
	text-align: left;
}
.shopcar-thead{
	height: 30px;width: 100%;
	border: 1px solid #CCCCCC;
}
.shopcar-thead>tr>th{
	padding: 4px 12px;
	box-sizing: border-box;
}
.black-tr-up{
	padding: 8px;
}
.black-tr-down{
	padding: 8px;
}
/* 商品css */
.goods-tr{
	height: 110px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
.td-img{
	width: 100px;padding: 8px;
}
.td-img>img{height: 90px;width: 90px;}
.td-num{padding: 8px;}
.td-num>div,.td-num>input{
	box-sizing: border-box;
	height: 40px;width: 26px;float: left;text-align: center;line-height: 40px;
}
.shopcar-text{
	border: none;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.shopcar-text:focus{
	outline: none;
}
.sub-button{
	border: 1px solid #CCCCCC;
	border-right: none;
	cursor: pointer;
}
.add-button{
	border: 1px solid #CCCCCC;
	border-left: none;
	cursor: pointer;
}
.td-allprice{
	text-align: right;padding: 8px;
}
.td-delete{
	padding: 8px;
}
.td-delete>p{
	cursor: pointer;
}
.td-variation{
	padding: 5px 0;
	font-size: 12px;
	line-height: 16px;
}




/* foot内容 */
.table-foot{
	height: 120px;width: 100%;
	border: 1px solid #CCCCCC;
}
.table-foot>td{
	box-sizing: border-box;padding: 8px;
}
.jiesuan{
	height: 100$;width: 200px;float: right;
}
.jiesuan-button{
	bottom: 0;padding: 12px 50px;background-color: #000000;text-align: center;
	cursor: pointer;
	color: #FFFFFF;
}